body {
    background-color: rgba(168, 228, 228, 0.692);
    color: rgb(34, 49, 49);
}

.button {
    margin: 10px;
}

.place {
    color: gray;
}

#form {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    align-items: center;
}

#top, #bottom {
    padding: 10px;
}


#description, #name, #cost, #submit-btn{
    padding: 10px;
    margin: 10px;
    width: 50%;
}

#submit-btn {
    font-size: 23px;
}

#card-container{
    display: flex;

    align-items: stretch;
    justify-content: center;
}

.review, .description{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.card-header{
    display: flex !important;
    flex-direction: row;
    margin: 0;
    justify-content: space-between
}

.header-text{
    display: inline;
    width: 75% !important;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#name-text, #place-text {
    width: 50%;
}


#review-text {
    margin: 10px;
}
.header-icon{
    width: 35px !important;
    height: 35px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}